/build/
/check/
/dist/
/deps/*/build/
/python/build/
/python/im/resources/generators/
/python/imread.egg-info/
/Testing/
*.dylib
*.a
*.so
*.o
*.db
*.sqlite3
*.bii
*.pyc
*.pyo
*.xcuserstate
*.profraw
.DS_Store
.vscode
# *.capnp.c++
# *.capnp.h
.tm_properties
.cache/
.prof/
.ipynb_checkpoints/
__pycache__/

/xcode/fmwk/
!/xcode/fmwk/libimread.xcodeproj/