/build/
/dist/
/deps/*/build/
/python/build/
/python/imread.egg-info/
/Testing/
*.dylib
*.a
*.so
*.o
*.db
*.sqlite3
*.bii
*.pyc
*.pyo
*.xcuserstate
.tm_properties
.cache/
.prof/
.ipynb_checkpoints/
__pycache__/

/xcode/fmwk/
!/xcode/fmwk/libimread.xcodeproj/