<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basedir</key>
	<string>/Users/fish/Dropbox/libimread/tests/data</string>
	<key>hdf5</key>
	<array>
	</array>
	<key>jpeg</key>
	<array>
		<string>IMG_7333.jpeg</string>
		<string>tara-bruno-NO-YOU-DONT-SEE-ME-almost-two-years-ago.jpeg</string>
		<string>taylor-omg.jpeg</string>
	</array>
	<key>jpg</key>
	<array>
		<string>10350540_10152447396343587_37416966729730477_n.jpg</string>
		<string>10954288_342637995941364_1354507656_n.jpg</string>
		<string>1a08b088d-2163-470e-aa18-1b0ad1d37298.jpg</string>
		<string>1a199abf5-64ff-4582-b68f-47118589250c.2.jpg</string>
		<string>1a48fc3ce-be47-4d81-beba-e147ca9083d4.jpg</string>
		<string>1a6e4d1dd-f75d-4fbe-be8e-7e50aa23ab9a.jpg</string>
		<string>1a95f1603-8937-4e83-9cfb-2e1bc463afb3.2.jpg</string>
		<string>1a98f95cf-6005-4d8b-881c-9c44f5648350.jpg</string>
		<string>1acad38a0-747f-485b-a6e5-4c02cca8f804.jpg</string>
		<string>1aef1426f-848d-455f-8ea5-c143c7eb5139.jpg</string>
		<string>1b031bc60-e67d-4904-92da-433b1057ed29.jpg</string>
		<string>1b4ca8c13-288f-43ab-8ebb-dc0f00196cb9.2.jpg</string>
		<string>1b74c6b88-9b36-43ae-a2ee-dc4ca29cddf2.2.jpg</string>
		<string>1b7eefeff-2cb5-401e-b344-0a89ff47f0b7.jpg</string>
		<string>2340367304_19afc284dd_o.jpg</string>
		<string>4592101968_4fd8106161_o-SMALL.jpg</string>
		<string>4592101968_4fd8106161_o-SMALLER.jpg</string>
		<string>4592101968_4fd8106161_o-SMALLEST.jpg</string>
		<string>5716535667_6e38bef86a_o.jpg</string>
		<string>58157_450715217350_41528_n.jpg</string>
		<string>7655660314_5633d8d261_o.jpg</string>
		<string>7ef12cd7f6ef544d4cfcf9e1e51c8ed2.jpg</string>
		<string>8141435491_a3016aca8f_o.jpg</string>
		<string>8410078919_6ef8bbbe81_o.jpg</string>
		<string>benatar002.jpg</string>
		<string>butterflies-in-stomach.jpg</string>
		<string>c64error.jpg</string>
		<string>CBS-FOX-VIDEO.jpg</string>
		<string>columbia-tristar-monochromatic.jpg</string>
		<string>CUBE-MY-BUTTON.jpg</string>
		<string>Cube_Quest_-_1983_-_Simutrek.jpg</string>
		<string>cube_quest_arcade.jpg</string>
		<string>Destruct_sequence_engaged.jpg</string>
		<string>DIET-PEPSI-UH-HUH-EXCLAMAITION-MARK.jpg</string>
		<string>environ-ctr-PURGE.jpg</string>
		<string>GLOVE-OF-NINTENDO-POWER-PLUS-ONE.jpg</string>
		<string>HANG-IN-THERE.jpg</string>
		<string>hang_in_there_baby_by_bytor137-d5u6r1q.jpg</string>
		<string>hqdefault.jpg</string>
		<string>IMG_4332.jpg</string>
		<string>keep-your-power-gloves-off-her-OK.jpg</string>
		<string>operation-operation.jpg</string>
		<string>Rd4lKZq.jpg</string>
		<string>tumblr_l2l22khbRq1qc2qvmo1_1280.jpg</string>
		<string>tumblr_mgq73sTl6z1qb9r7fo1_r1_500.jpg</string>
		<string>Z0064246.jpg</string>
	</array>
	<key>png</key>
	<array>
		<string>atkinson-me.png</string>
		<string>BINARY-OP.png</string>
		<string>crypto343343.png</string>
		<string>grad_32_rrt_srgb.png</string>
		<string>marci_512_srgb.png</string>
		<string>marci_512_srgb8.png</string>
		<string>output_00100.png</string>
		<string>output_00200.png</string>
		<string>output_00300.png</string>
		<string>output_00400.png</string>
		<string>output_00500.png</string>
		<string>output_00600.png</string>
		<string>output_00700.png</string>
		<string>output_00800.png</string>
		<string>output_00900.png</string>
		<string>pngreference.png</string>
		<string>roses_512_rrt_srgb.png</string>
		<string>st-in-parens.png</string>
		<string>yo-dogg-bleah.png</string>
		<string>yo-dogg-OHHH-DOGGGG.png</string>
	</array>
	<key>pvr</key>
	<array>
		<string>AI88.pvr</string>
		<string>apple_2bpp.pvr</string>
		<string>apple_4bpp.pvr</string>
		<string>I8.pvr</string>
		<string>pvrtc2bpp.pvr</string>
		<string>pvrtc4bpp.pvr</string>
		<string>RGB565.pvr</string>
		<string>RGB888.pvr</string>
		<string>RGBA4444.pvr</string>
		<string>RGBA5551.pvr</string>
		<string>RGBA8888.pvr</string>
	</array>
	<key>tif</key>
	<array>
		<string>ptlobos.tif</string>
	</array>
	<key>tiff</key>
	<array>
	</array>
</dict>
</plist>

