<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Continuous.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Experimental.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Nightly.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NightlyMemoryCheck.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>RUN_TESTS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>docopt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>guid.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>imagecompression.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>impaste.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>imread-config.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>imread.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>imread_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>iod_symbolize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>maBlockClosure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>project_header.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>sszip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>test_data_header.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B7C6C5B89AA49D6918AFCFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CB6AFDC16CC4B2DB0918042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F6FD538417E44C8B6D69DFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17C2684F39CC4044AC3AB831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>428563FE073E43D4A8E99661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44841194CC31413BAE66316E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48045D635DCC43D69893F43F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CF690FF1F844F769481CA68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D136E085314467CA58EB4FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6129041773184F8A99B7D09C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67517F0B6D7041E6AF0DAB92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>860266190851439B98519039</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1FA06D175C74421A1FBF5DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A70A27226AE44958B49C59AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C224C0106DC84366A2AA7D14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C27EFC6AB14C45558FBCB14E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C73F57B5C76448F4A4FE3745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB184661204D4F3A9C6E02E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6018817E11E402AA406FA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6D6DE534E6E4F9AA0428B55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
